name: DEPLOY_DEV
on:
  workflow_run:
    workflows:
      - "BUILDS"
    types:
      - "completed"
    branches:
      - dev

jobs:
  deploy_dev:
    # needs: integration_tests
    runs-on: ubuntu-latest
    environment: Development
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Tag and Push Dev Image
        run: |
          docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          docker tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:dev
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:dev

      - name: Deploy to Dev Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_SERVER_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login ${{ env.REGISTRY }} -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin

            cd ${{ vars.PATH_TO_PROJECT }}

            docker compose down
            docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:dev
            docker compose --env-file .env.dev up -d